*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  align-content: center;
}

.conversion-div {
  height: 250px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #272727; */
  /* box-shadow: 0 0 10px 2px #111111; */
}

.buttons {
  width: 300px;
  height: 30px;
  display: flex;
}

.btn {
  cursor: pointer;
  border-radius: 0;
  border: 1px solid #fff;
  flex-grow: 1;
  color: #fff;
  background-color: #212121;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #fff;

  color: #212121;
}

.zero {
  margin-right: 1px;
}

.btn:focus {
  outline: none;
}

.digits {
  margin-top: 5px;
  width: 300px;
  height: 40px;
  border: 1px solid #fff;
  background-color: #212121;
}

.binary {
  color: #fff;
  line-height: 35px;
  text-align: right;
  padding-right: 5px;
}

.decimal {
  color: #fff;
  line-height: 35px;
  text-align: right;
  padding-right: 5px;
}

.buttonsTwo {
  width: 300px;
  height: 30px;
  display: flex;
  flex-direction: column;
}

.clear {
  margin-top: 5px;
  padding: 5px;
}

.convert {
  margin-top: 5px;
  padding: 5px;
}
